@import '../../index';

.image-container {
    width: 100%;
    height: -webkit-fill-available;
    
    .breed-image {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 100px;
    
        img {
            width: 300px;
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        }
    }
}