/*
1. Primary colors
    1.1 gradient colors

2. Font family
3. Transitions
4. Cursor

*/

// primary colors
$clearDay: #F2FFFC;
$wildSand: #F5F5F5;

    // gradient colors
    $dodgerBlue: #30ABF5;
    $pictonBlue: #34AFF5;
    $malibu: #51CAF9;
    $cornflowerBlue: #667DE8;
    $blueViolet: #7257B4;

// font family
$fontFamily: 'Montserrat', sans-serif;

// transitions
$hamburgerMenu: width 1s;

// cursor
$cursorPointer: pointer;